@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

.agendaWrapper {
  padding: 7.5%;
  font-family: "Noto Sans JP", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));

  h1 {
    padding-bottom: 1.5%;
    margin: 7.5% 0;
    color: #ffb6c1;
    border-bottom: #ffb6c1 solid 4px;
  }

  p {
    color: #fff;
    margin: 7.5% 0;
    text-align: justify;
  }

  a {
    color: #ffb6c1;
    text-decoration: underline;
  }

  .invitationLink {
    display: block;
    text-decoration: none;
    color: #ffb6c1;
    border: 1px solid #ffb6c1;
    border-radius: 17.5px;
    width: 25%;
    margin: auto;
    padding: 1%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Dancing Script", cursive;

    &:hover,
    &:active {
      color: white;
      background-color: #ffb6c1;
    }
  }
}
